.app__header{
    background-color: var(--color-black);
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 70px;
}

.app__wrapper_img img{
    width: 280px;
    box-shadow: 8px 8px 8px 0 purple;
}
.app__header .custom__button{
    font-weight: 1200;
    border-radius: 6px;
}
.app__header .custom__button:hover{
    background: purple;
    color: var(--color-golden);
}

@media screen and (max-width: 650px) {
    .app__header{
        overflow: hidden;
        padding: 10px;
    }
   
}